* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(78, 128, 78);
    color: #4b3621;
    scroll-behavior:smooth;
}

body {
    background-color: #caebb7;
    line-height: 1.6;
    justify-content: center;
}

header {
    background-color: #4b3621;
    position: sticky;
    top:0;
    z-index: 1000;
    padding: 1rem 5%;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.headbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
           
    max-width: 1400px;         
    margin: 0 auto;
}
/* logo do site sei la */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:  #fdfbf7;
}
/* links para diferentes seções da pagina? */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fdfbf7;
    font-weight: 500;
}
/* redireciona para meu instagram :) */
.btn-nav {
    background-color: #6b8e23; 
    color:  #fcfbf9;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}
/* estilizaçao da section home */

.home {
    display:flex;
    align-items:center;
    box-shadow: 5px 10px 5px #caebb7;
    height: 500px;
}

.home h1 {
    text-shadow: 3px 2px 0px rgb(120, 121, 114);
    font-size: 52px;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
}

.home-content {
    text-align: center;
}

.home h2 {
    font-size: 27px;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
}
    
p {
    font-size: 16px;
    margin: 10px;
}

.home-img img {
    display: flex;
    margin: auto;
    height:500px;
    width: 900px;
    /* border:0px; */
}

/* section para falar um pouco do lugar(hub) */
.hub {
    background-color: #fdfbf7;
    box-shadow: 5px 10px 30px #886b5d80;
    padding-top: 50px;
}
.hub-imagery {
    display: flex;
    margin: auto;
    gap : 40px;
    height:500px;
    width: 900px;
    justify-content: center;
}
.hub-imagery img {
    display: flex;
    margin: auto;
    height:500px;
    width: 1000px;
    align-items: center;
}

.hub h2 {
    font-size: 27px;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
}


/* section para uma prévia do menu */

.menu {
    padding-top: 50px;
    padding-bottom:100px;
    text-align: center;
    
}

.menu-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:80px;
    margin: 10px auto;
    max-width: 1200px;
}

.menu-item {
    flex: 1 1 300px;
    text-align: center;
    align-self: center;
    max-width: 350px;
    border-radius:10px;
    transition: transform 0.4s ease;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-img img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    display:block;
    width:100%;
}
 
h2 {
    position:relative;
    text-align:center;
}

/* section para falar um pouco da história do café */

.about-us {
    background-color: #4b3621;
    box-shadow: #fcfbf9;
    padding-bottom: 00px;
    padding-top: 0px;

}

.history {
    display:flex;
    padding-left: 0px;
    padding: 30px;
    /* box-shadow: 10px 5px 20px #7acf85; */
}

.history-text {
    align-items: start;
}

.history-text h2 {
    color: white;
    text-align: start;
    font-style:italic;
    font-size: 40px;
    margin-left:50px;
    padding-left: 100px;
}

.history-text p {
    color: white;
    text-align: justify;
    line-height: 1.8;
    max-width: 600px;
    font-size: 23px;
    margin-left:150px;
}

.history-img {
    height: 500px;

}
.history-img img {
    display:flex;
    width: 100%;
    height:500px;
    width: 900px;
    margin:auto;
}

/* grid para status do coffee */

.experience {
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
}

.exp {
    padding-top: 10px;
    padding-bottom:50px;
    text-align: center;
}

.exp-top {
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
}

.exp-top h1 {
    font-style:italic;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.exp-top p {
    padding-bottom: 50px;
    font-weight: 400;
    max-width: 800px;
    font-size:25px;
    margin: 0 auto;
    text-align:center;
}

.exp-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 10px auto;
    max-width: 1200px;
    flex: 1 1 200px;
}

.stat-item img {
    
    text-align: center;
    align-self: center;
    max-width: 350px;
    border-radius:10px;
    transition: transform 0.4s ease;
}

.stat-item img:hover {
    transform: translateY(-0.5in);
}

.stat-img img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    display:block;
    width:100%;
}

.stat-label {
    font-style:bold;
    font-size:20px;
}

/* footer pra informaçoes adicionais */
footer {
    background-color: #4b3621;
    color:  #fdfbf7;
    padding: 2rem;
    text-align: center;
}

.footer-content p {
    margin-bottom: 1rem;
    opacity: 0.8;
}