.home {
    display:flex;
    align-items:center;
    box-shadow: 5px 10px 5px #caebb7;
    height: 500px;
    scroll-margin-top: 230px;
    background-image: linear-gradient(rgba(202, 235, 183, 0.8), rgba(202, 235, 183, 0.8)),
                        url("https://static.vecteezy.com/system/resources/thumbnails/037/747/925/small/ai-generated-falling-coffee-beans-free-png.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-blend-mode:darken;
}

.home h1 {
    /* text-shadow: 3px 1px 0px rgb(120, 121, 114); */
    display: table;
    font-size: 52px;
    padding: 10px 10px; background-color: #fdfbf7;
    margin: 10px;
    text-align: center;
}

.home-content {
    text-align: center;
}

.home h2 {
    font-size: 27px;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
}
    
p {
    font-size: 16px;
    margin: 10px;
}

.home-img img {
    display: flex;
    margin: auto;
    height:500px;
    width: 900px;
    /* border:0px; */
}