* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(78, 128, 78);
    color: #4b3621;
    scroll-behavior:smooth;
    overflow-x:hidden;

}

body {
    background-color: #caebb7;
    line-height: 1.6;
    justify-content: center;
}